.c-header {
    background-color: $primary;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.27);
    position: sticky;
    top: 0;
    z-index: 9 ;
    &__wrapper{
      padding: 1rem 0;
      display: flex;
      align-items: center;
    }
    &__logo{
      filter: brightness(0) invert(1);
    }
    &__language-wrapper{
      display: flex;
      gap: 0.5rem;
      margin-left: auto;
    }
    &__flag{
      width: 100%;
      height: auto;
      max-width: 2.5rem;
      padding: 0.1rem;
      border-radius: 50%;
      cursor: pointer;
      border: 3px solid transparent;
      &.active{
        border-color: #2BFFDC 
      }
    }
  }
  