.o-btn {
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    > svg {
        max-width: 25px;
        max-height: 25px;
    }
    &__primary{
        color: $primary;
        border: 2px solid $primary;
        > svg {
            fill: $primary;
            stroke: $primary;
        }
        &:hover {
            background-color: $primary;
            color: #fff;
            border-color: #fff;
            > svg {
                fill: #fff;
                stroke: #fff;
            }
        }
    }
}