.o-card{
    position: relative;
    width: 100%;
    max-width: 300px;
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.39);
    border-radius: 0.3rem;
    overflow: hidden;
    &-img{
        width: 100%;
        height: auto;
    }
    &-desc-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        font-size: 0.85rem;
        color: $primary;
        background-color: #fff;
    }
    &-desc{
        display: flex;
        flex-direction: column;
    }
    &-more{
        background-color: black;
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        color: #fff;
        cursor: pointer;
    }
    &-duration-badge{
        position: absolute;
        top: 5%;
        left: 5%;
        background-color: #fff;
        font-size: 0.75rem;
        color: $primary;
        font-weight: 900;
        padding: 0.3rem;
        border-radius: 50px;
        border: 2px solid $primary;
    }
}